.Experience{
    background-color: #0e1019;
    padding: 5rem 10rem;
}

.workHeading{
    font-size: 1rem;
    color: #fff;
}
.work{
    background-color: #ffffff4f;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin:1rem 0rem;
}