.Experience{
    background-color: #0e1019;
    padding: 5rem 8rem;
}

.workHeading{
    font-size: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
}
.content{
    padding: 0.5rem ;
}
.details{
    color:white;
    transition: transform 1 ease color 1 ease;
    height: 6rem;
}
.details:hover{
    transform: skew(-2deg);
}

.cards{
    display:flex;
    flex-wrap: wrap ;
    justify-content: start;
    align-items: center;
    gap:5rem;
}
.imageSlider{
    width:28rem;
    height: 17rem;
    margin-left: -1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.2rem;
    opacity: 50%;
    border-radius: 1rem;

}
.black{
    background-color: black;
    border-radius: 0.98rem;
    width:28rem;
    height: 17rem;
}
.imageSlider:hover{
    opacity: 90%;
}
img{
    width:28rem;
    height: 17rem;
}
.hoverEffect:hover{
    background-color: #ffffff86;
    border-radius: 50%;
}

.work{
    background:linear-gradient(to right, rgb(203, 3, 3), rgb(244, 79, 79));
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin:1rem 0rem;
    cursor: pointer;
    height:30rem;
    width:31rem;
    padding-bottom: 10rem;
    
}


#workTag{
    background-color: #ffffffbb;
    padding: 0.3rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#workTag:hover{
    color: rgb(206, 32, 32);
}

