.HeroSection{
    width: 100%;
    background-color: #0e1019;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
}

.HeroContent{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    justify-content: center;
    color: white;
}
.social{
    display: flex;
    align-items: center;
}
.socialIcon{
    margin-left: 0.2rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    background-color:red;
    border-radius: 0.2rem;
    padding:0.5rem;
    margin-right: 2rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.socialIcon:hover{
    background-color: rgb(226, 1, 1);
    transform: scale(1.1);
}
.resumeBtn{
    background-color: red;
    color: white;
    padding: 0.45rem;
    width: 9rem;
    margin:0.9rem 2rem;
    border-radius: 0.5rem;
    border: none;;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
}
.resumeBtn:hover{
    transform: scale(0.95);
    background-color: rgb(226, 1, 1);
}   

.Avatar{
    background-image: url("../assets/avatar.png");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    width: 580px;
    height: 500px;
}

@media screen and (max-width: 1320px) {
    .HeroSection {
        gap: 5rem;
        padding: 2rem;
    }
    .HeroContent {
        margin-left: 2rem;
    }
    .Avatar {
        width: 300px;
        height: 250px;
    }
}

/* --- For Mobile Screens --- */
@media screen and (max-width: 966px) {
    .HeroSection {
        flex-direction: column; /* Stack content vertically */
        gap: 2rem;
        padding: 1.5rem;
        text-align: center;
    }
    .HeroContent {
        margin-left: 0;
        align-items: center;
    }
    .social {
        justify-content: center;
    }
    .resumeBtn {
        margin: 1rem 0;
        margin-left:-1rem;
    }
    .Avatar {
        width: 350px;
        height: 250px;
    }
}


.slider{
    background-color: rgb(226, 1, 1);
    width:100%;
    overflow:hidden;
    height:5rem;
    white-space: nowrap; /*text in one line*/
    padding: 1rem 0rem;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;

}




@keyframes moveIcons{
    0% {transform:translateX(100%)}
    100% {transform:translateX(-100%)}
}

.icons{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13rem;
    font-size: 2.8rem;
    color: black;
    animation: moveIcons 10s linear infinite;
}

