.HeroSection{
    width: 100%;
    background-color: #0e1019;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
}

.HeroContent{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    justify-content: center;
    color: white;
}
.social{
    display: flex;
    align-items: center;
    
}
.socialIcon{
    margin-left: 0.2rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    background-color:red;
    border-radius: 0.2rem;
    padding:0.5rem;
    margin-right: 2rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.socialIcon:hover{
    background-color: rgb(226, 1, 1);
    transform: scale(1.1);
}
.resumeBtn{
    background-color: red;
    color: white;
    padding: 0.45rem;
    width: 10rem;
    margin:0.9rem 0;
    border-radius: 0.5rem;
    border: none;;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
}
.resumeBtn:hover{
    transform: scale(0.95);
    background-color: rgb(226, 1, 1);
}   

.Avatar{
    background-image: url("../assets/avatar.png");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    width: 580px;
    height: 500px;
}

@media screen and (max-width: 1320px) {
    .HeroSection {
        gap: 5rem;
        padding: 2rem;
    }
    .HeroContent {
        margin-left: 2rem;
    }

    .Avatar {
        width: 300px;
        height: 250px;
    }
}

/* --- For Mobile Screens --- */
@media screen and (max-width: 966px) {
    .HeroSection {
        flex-direction: column; /* Stack content vertically */
        gap: 2rem;
        padding: 1.5rem;
        text-align: center;
    }
    .HeroContent {
        margin-left: 0;
        align-items: center;
    }
    .social {
        justify-content: center;
        margin-left: 2rem;
    }
    .resumeBtn {
        margin: 1rem -2rem;
        
    }
    .Avatar {
        width: 350px;
        height: 250px;
    }
}


.slider{
    background-color: rgb(226, 1, 1);

    width:100%;
    overflow:hidden;
    height:5rem;
    display: flex;
    padding: 0.5rem;
}
.icons{
    /* background-color: aqua; */
    display: flex;
    flex: row;
    height: 4rem;
    width:max-content;
    gap: 10rem;
    font-size: 3rem;
    animation: slideIcon 10s linear infinite;
}
.icons2{
    /* background-color: aqua; */
    margin-left: 10rem;
    display: flex;
    flex: row;
    height: 4rem;
    width:max-content;
    gap: 10rem;
    font-size: 3rem;
    animation: slideIcon2 10s linear infinite;
}




@keyframes slideIcon {
    from {
        transform:translateX(-50%);
    }
    to{
        transform:translateX(0%);
    }
}
@keyframes slideIcon2 {
    from {
        transform:translateX(-50%);
    }
    to{
        transform:translateX(0%);
    }
}

